@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #b88e2f;
    --primary-foreground: #fff3e3;
    --secondary: #9f9f9f;
    --secondary-foreground: #f9f1e7;
    --primary-text: #3a3a3a;
    --primary-text-foreground: #333333;
    --secondary-text: #898989;
    --secondary-text-foreground: #b0b0b0;
  }
}
